h1{
    background-color: skyblue;
    text-shadow: 5px 5px 5px #0c0c0c;
}
p{
    background-color:#aafff4;
}
table{
    border-collapse:separate;
    border-spacing:10px 10px;
    background-color:#6aff8d;
}
td{
    background-color:#55ffea;
}
caption{
    caption-side:top;
}
p.groove{
    border-style:groove;
}
